.li-content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-content1{
    display: flex;
    align-items: center;
    width: 100vh;
    height: 100vh;
    justify-content: center;
}